<div class="row">
  <div class="col-12">

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card rounded-3 border-0">
      <div class="card-body"> 

        @for (item of modules; track $index) {
        <mat-accordion class="example-headers-align" multi>
          
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title [id]="'1'"> {{item}} </mat-panel-title>
            </mat-expansion-panel-header>

            <section class="example-section">
              <mat-checkbox [id]="'1'" class="example-margin">CREATE</mat-checkbox>
              <mat-checkbox [id]="'2'" class="example-margin">UPDATE</mat-checkbox>
              <mat-checkbox [id]="'3'" class="example-margin">VIEW</mat-checkbox>
              <mat-checkbox [id]="'4'" class="example-margin">DELETE</mat-checkbox>
            </section>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="w-100 pt-2"></div>
        }

      </div>
    </div>
  </div>
</div>