<!-- <mat-toolbar> -->
<!--  -->

<div *ngIf="_authService.isLoggedIn()" class="div">

  <mat-toolbar>
    <a style="margin: 0;" (click)="opened=!opened">
      <img src="assets/icon/pgt.ico" />
      <span *ngIf="opened" class="logo-text card-title text-xs font-weight-bold text">Automation</span>
    </a>

    <div class="spacer"></div>
    <i class="fa fa-building" aria-hidden="true"></i>
    <div>
      <select class="form-select border-0" [(ngModel)]="departmentId" (change)="selectionChange()">
        <option *ngFor="let val of depSelections" [value]="val.departmentId">
          {{val.departmentName}}
        </option>
      </select>
    </div>
    <!-- <i class="fa fa-sign-out" aria-hidden="true"></i> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span (click)="onLogout()">Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>



  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav opened="true" mode="side" [fixedInViewport]="true" [fixedTopGap]="50">

      <mat-nav-list>

        <mat-list-item (click)="opened = !opened">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: opened }">chevron_right</mat-icon>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item routerLink="/dashbord">
          <mat-icon mat-list-icon class="nav-icon custom-font">home</mat-icon>
          <span *ngIf="opened" class="menu-item">Dashbord</span>
        </mat-list-item>


        <mat-list-item routerLink="/plugin/home">
          <mat-icon mat-list-icon class="nav-icon">
            auto_stories
          </mat-icon>
          <span *ngIf="opened" class="menu-item">Logging</span>
        </mat-list-item>

        <mat-list-item routerLink="/admin/user-home">
          <mat-icon mat-list-icon class="nav-icon">
            <i class="fa-solid fa-house"></i>
            shield_person
          </mat-icon>
          <span *ngIf="opened" class="menu-item">Admin</span>
        </mat-list-item>

      </mat-nav-list>


      <!-- <div class="side-nav-items">
        <mat-list>
          <mat-list-item routerLink="project/home" class="side-menu-item">
            Dashbord
          </mat-list-item>
        </mat-list>
      </div> -->
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="loader-container">
        <mat-progress-bar mode="indeterminate" *ngIf="loaderVisible"></mat-progress-bar>
      </div>

      <div class="main-content">
        <router-outlet *ngIf="departmentId"></router-outlet>
        <ng-toast></ng-toast>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>