mat-sidenav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    top: 45px;;
    /* height: 100%; */
}

mat-nav-list {
    margin-left: 3px;
}

.menu-item{
    margin-left: 10px;
}

mat-sidenav {
    /* width: 180px; */
    background-color: #eee;
}

.chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.chevron-button.rotated {
    transform: rotate(180deg);
}

.main-content {
    margin: 20px;
}

/* .side-nav-items {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    top: 10px;
    color: black;
    font-weight: 900;
} */


mat-toolbar {
    height: 45px;
    background: white;
    border-radius: 10px;
}

.logo-text {
    font-size: .875rem;
    color: rgba(0, 120, 212, 1);
}

img {
    margin-top: 11px;
    height: 30px;
}


/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
/* .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */