<!-- <app-month-picker (dateTimeSelected)="onSelectedMonth($event)"></app-month-picker> -->

<div class="container-fluid px-4">
  <div class="row g-3 my-2">
    <div class="col-md-4">
      <div class="card border-left-primary shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Total Plugins</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalPCount}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-left-primary shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary  text-uppercase mb-1">
                Total Productivity By Manual</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalMminute | minutesToHours}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-left-primary shadow h-100 py-2 rounded-5">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Total Productivity By Automate</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalAminute | minutesToHours}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="row text-center border-0  ">

  <div class="row">
    <div class="col-md-4">
      <div class="card-counter bg-purple">
        <i class="fa fa-code-fork"></i>
        <span id="cc_department" class="count-numbers">0</span>
        <span class="count-name">Department</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter bg-coral">
        <i class="fa fa-ticket"></i>
        <span id="cc_designation" class="count-numbers">0</span>
        <span class="count-name">Designation</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter bg-green">
        <i class="fa-light fa-location-dot"></i>
        <span id="cc_location" class="count-numbers">0</span>
        <span class="count-name">Location</span>
      </div>
    </div>   
</div> -->



<!-- <div class="w-100 pt-lg-2"></div>
<div class="w-100 pt-lg-2"></div>
<div class="w-100 pt-lg-2"></div>
<div class="w-100 pt-lg-2"></div> -->




<!-- Menu Bar -->



<div class="card border-0 mt-5">
  <div class="card-body">

    <div class="d-flex justify-content-center">
      <div class="card border-0 shadow rounded-4">
        <div class="card-body">

          <div class="flex-row row ">

            <div class="col-md-6">
              <mat-form-field class="material-resize mx-2" appearance="outline">
                <mat-select [(ngModel)]="pId" (selectionChange)="onPluginSelectionChange($event)">
                  <mat-option *ngFor="let val of pluginSelections" [value]="val.pluginId">
                    {{val.pluginName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <app-month-picker (dateTimeSelected)="onSelectedMonth($event)"></app-month-picker>
            </div>

          </div>

        </div>
      </div>
    </div>


    <!-- Chart -->

    <div class="flex-row row mt-3">

      <div class="col-md-6">
        <div class="card rounded-2 shadow-lg border-0">
          <div class="card-header bg-white">
            <span>{{pluginName}} - {{selectedMonth}}/{{selectedYear}}</span> Productivity Analyzis
          </div>

          <div class="card-body">
            <div class="card-title">

            </div>

            <app-productivity-chart [plgn]="productivityChartData"
              *ngIf="productivityChartData"></app-productivity-chart>

          </div>
        </div>
      </div>

      
      <div class="col-md-6">
        <div class="card rounded-4 shadow-lg border-0">
          <div class="card-body">
            <div class="card  rounded-4 shadow-lg">
            </div>
          </div>
        </div>
        <div class="w-100 pt-2"></div>
      </div>

      <div class="col-md-6 mt-3">
        <div class="card  rounded-2 shadow-lg border-0">
          <div class="card-header bg-white">
            {{selectedMonth}}/{{selectedYear}} All Plugin Utilizing Analyzis
          </div>

          <div class="card-body">
            <div class="card-title">
            </div>

            <!--  -->
            <app-plugin-chart [pluginCol]="pluginChartData" *ngIf="pluginChartData"></app-plugin-chart>
            <!--  -->

          </div>
        </div>


      </div>

      <div class="col-md-6 mt-3">
        <div class="card  rounded-2 shadow-lg border-0">
          <div class="card-header bg-white">
            {{pluginName}} {{selectedMonth}}/{{selectedYear}} Plugin Utilizing Analyzis
          </div>

          <div class="card-body">
            <div class="card-title">
            </div>
            <!--  -->
            <app-plugin-log-chart [plugin]="pluginLogChartData" *ngIf="pluginLogChartData"></app-plugin-log-chart>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>