<!-- Counter Card -->

<div class="flex-row row">
  <div class="col-md-4">
    <div class="card  rounded-4" style="height: 120px;">
      <div class="card-body">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  rounded-4" style="height: 120px;">
      <div class="card-body">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  rounded-4" style="height: 120px;">
      <div class=" card-body">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="w-100 pt-lg-5"></div>
<!-- Counter Card -->





<div class="card border-0">
  <div class="card-body">
    <!-- Menu Bar -->



    <div class="flex-row row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card shadow-lg rounded-4" style="height: 60px;">
          <div class="card-body">
            <div class="card-title">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="w-100 pt-2"></div>
    <!-- Menu Bar -->

    <div class="flex-row row ">
      <div class="flex-row row ">
        <div class="col-md-6">
          <div class="card shadow-lg rounded-4">
            <div class="card-header">
              Plugin Utilizing Analyzis
            </div>

            <div class="card-body">
              <div class="card-title">
              </div>

              <!--  -->
              <app-plugin-log-chart></app-plugin-log-chart>
              <!--  -->

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card shadow-lg rounded-4">
            <div class="card-header">
              Plugin Utilizing Analyzis
            </div>

            <div class="card-body">
              <div class="card-title">
              </div>

              <!--  -->
              <app-plugin-chart></app-plugin-chart>
              <!--  -->

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>