<h1>Categories</h1>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <div class="list-group">
          <a routerLink="/admin/user-home" class="list-group-item d-flex justify-content-between align-items-center">
            Register User
          </a>
          <a routerLink="/admin/department-home"
            class="list-group-item d-flex justify-content-between align-items-center">
            Register Department
          </a>
        </div>
      </div>
    </div>
  </div>

</div>