/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink";
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e5e9ec;

}

/*GLOBAL TABLE STYLE */


mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

mat-form-field {
  font-size: 10px;
}

table {
  width: 100%;
  background-color: white;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #eee;
  color: rgba(0, 120, 212, 1);
  font-weight: bold;
}

.demo-row-is-clicked {
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}

/*GLOBAL TABLE STYLE */



.spacer {
  flex: 1 1 auto;
}


.action {
  padding: 0px 25px 20px;

  button {
    flex: 1;
  }
}