<div mat-dialog-title>
  <h1>Key Generator</h1>
  <hr />
</div>



<form [formGroup]="frm">
  <div mat-dialog-content class="content">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Key🗝️</mat-label>
        <!-- <input matInput type="text" placeholder="Ex. " formControlName="description"> -->
        <textarea readonly="true" formControlName="key" matInput cdkTextareaAutosize cdkAutosizeMinRows="8"></textarea>
      </mat-form-field>
    </div>


    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Generate</button>
    </div>

  </div>
</form>